button {
    padding: 10px 10px;
}
.function-panel {
    margin-left: 6px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.function-panel button name {
    font-size: 0.7em;
}

button.active {
    background-color: #007bff; /* Change to your desired active button color */
    color: #fff; /* Change to your desired active button text color */
}
.direction-buttons {
    display: flex; /* Make it a flex container */
    width: 100%; /* 100% wide */
}

.direction-buttons button {
    flex: 1; /* Each button covers 50% of the container width */
    text-align: center; /* Optional: Center-align the button content */
}
.stop-button {
    display: flex;
    width: 100%;
}
.stop-button button {
    flex: 1; /* Each button covers 50% of the container width */
    text-align: center; /* Optional: Center-align the button content */
}