@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
  }
button {
    padding: 10px 10px;
}
.function-panel {
    margin-left: 6px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.function-panel button name {
    font-size: 0.7em;
}

button.active {
    background-color: #007bff; /* Change to your desired active button color */
    color: #fff; /* Change to your desired active button text color */
}
.direction-buttons {
    display: flex; /* Make it a flex container */
    width: 100%; /* 100% wide */
}

.direction-buttons button {
    flex: 1; /* Each button covers 50% of the container width */
    text-align: center; /* Optional: Center-align the button content */
}
.stop-button {
    display: flex;
    width: 100%;
}
.stop-button button {
    flex: 1; /* Each button covers 50% of the container width */
    text-align: center; /* Optional: Center-align the button content */
}
.add-train-button {
    padding: 0;
    margin: 0;
}
.container-selector {
    width: 100%;
    text-align: center;
}
.container-selector button {
    width: 24%;
    padding: 0px;
    margin: 0;
    border-right: 1px;
    border-radius: 0;
    height: 60px;
}
.menu-icon {
    flex-direction: column;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.bar {
    width: 45px;
    height: 2px;
    background-color: white;
    margin: 10px 0;
}
#main-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#main-menu li {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#main-menu li:last-child {
    border-bottom: none; /* Remove border from the last item */
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .glyphicon-asterisk:before {
    content: "\002a";
  }
  .glyphicon-plus:before {
    content: "\002b";
  }
  .glyphicon-euro:before,
  .glyphicon-eur:before {
    content: "\20ac";
  }
  .glyphicon-minus:before {
    content: "\2212";
  }
  .glyphicon-plus-sign:before {
    content: "\e081";
  }
  .glyphicon-minus-sign:before {
    content: "\e082";
  }
  .glyphicon-remove-sign:before {
    content: "\e083";
  }
  ._jsonform-array-deletelast {
    display: none;
  }
  #jsonform-1-elt-DCCConfig > ul > li > ._jsonform-array-buttons {
    position: relative;
    top: -180px;
    left: -40px;
  }
  #jsonform-1-elt-DCCConfig > ._jsonform-array-buttons {
    position: relative ;
    top: -1em;
    left: 2.4em;
  }
  #jsonform-1-elt-DCCFunctions > ul > li > ._jsonform-array-buttons {
    position: relative;
    top: -160px;
    left: -40px;
  }
  #jsonform-1-elt-DCCFunctions > ._jsonform-array-buttons {
    position: relative ;
    top: -1em;
    left: 2.4em;
  }