body {
    width: 100%;
    max-width: 100%;
}
button {
    padding: 10px 20px;
    font-size: 16px;
}
.container {
    width: 370px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Media query for screens with a maximum width of 768px (mobile devices) */
@media screen and (max-width: 768px) {
    #trainContainer {
        display: block; /* Change to a block layout for mobile */
    }

    .container {
        width: 100%; /* Full screen width for mobile */
        height: auto; /* Allow the height to adjust to content */
        margin-bottom: 10px; /* Optional: Add margin between containers */
    }
}

/* Media query for screens with a minimum width of 769px (desktop and iPad) */
@media screen and (min-width: 769px) {
    #trainContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 20px;
    }
}

#trainContainer {
    margin-top: 20px;
}

.train {
    display: inline-block;
    width: 100%;
    overflow-y: hidden;
}

.train-image {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.train-details {
    margin: 10px;
}
.train-control {
    margin: 10px;
}

.train-image img {
    max-height: 100%;
    vertical-align: middle;
}
.train-address {
    color: grey;
    text-transform: uppercase;
    font-size: 0.7em;
}
.train-name {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 0px;
}

#display {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    text-align: right;
    margin-bottom: 10px;
}
.train-control {
    display: flex;
}
.train-control panel {
    flex: 1;
}
.throttle-value {
    font-size: 2em;
    top: -10px;
    position: relative;
}
