body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav {
    width:100%;
    background: var(--background);
    padding: 10px;
    text-align: center;
}
.content {
    flex-grow: 1;
  }
.footer {
    width:100%;
    background: var(--background);
    min-height: 50px;
    flex-shrink: 0;
}
.footer-content {
    margin-right: 16px;
    margin-left: 16px;
    text-align: right;
}
button {
    padding: 10px 20px;
    font-size: 16px;
}
.container {
}
/* Media query for screens with a maximum width of 768px (mobile devices) */
@media screen and (max-width: 768px) {
    #trainContainer {
        display: block; /* Change to a block layout for mobile */
        margin-top: 0px;
    }

    .container {
        width: 100%; /* Full screen width for mobile */
        height: auto; /* Allow the height to adjust to content */
        margin-bottom: 10px; /* Optional: Add margin between containers */
    }
}

/* Media query for screens with a minimum width of 769px (desktop and iPad) */
@media screen and (min-width: 769px) {
    #trainContainer {
        margin-top: 20px;
        display: block; /* Change to a block layout for mobile */
        text-align: center;
    }
    .container {
        display: inline-grid;
        margin: 10px;
        vertical-align: top;
        border: 1px solid #ccc;
        width: 370px;
        height: 600px;
        border-radius: 5px;
    }
}

.train {
    display: inline-block;
    width: 100%;
    overflow-y: hidden;
}

.train-image {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.train-details {
    margin: 10px;
}
.train-control {
    margin: 10px;
}

.train-image img {
    max-height: 100%;
    vertical-align: middle;
}
.train-address {
    color: grey;
    text-transform: uppercase;
    font-size: 0.7em;
}
.train-name {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 0px;
}
.train-control {
    display: flex;
}
.train-control panel {
    flex: 1;
}
.throttle-value {
    font-size: 2em;
    top: -10px;
    position: relative;
}
