canvas {
    border: 1px solid gray;
}
#trackCanvas {
    width:1024px;
    height:600px;
    display: inline-block;
    position: relative;
}
.content {
    text-align: center;
}
.buttons-container {
    position: absolute;
    top: 4px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: 300px;
    padding: 10px;
    background-color: inherit;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: move;
}
.buttons-container .buttons-content {
    margin-top: 10px;
}
.buttons-container .buttons-content button {
    width: 100%;
    min-height: 62px;
}
.buttons-container .title-bar {
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons-container .panel-title {
    font-weight: bold;
}
.buttons-container .toggle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
    width: 30px;
    height: 30px;
}
#context-menu {
    display: none;
    position: absolute;
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: 5px; /* Rounded corners */
    padding: 5px 0; /* Add some padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

#context-menu ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
}

#context-menu li {
    padding: 8px 15px; /* Add padding */
    cursor: pointer; /* Show pointer cursor on hover */
}

#context-menu li:hover {
    background-color: var(--button-hover); /* Light gray background on hover */
}