input[type=range][orient=vertical] {
  -webkit-appearance: slider-vertical;
  width: 18px;
  height: 250px;
  padding: 0 5px;
  margin-left: auto;
  margin-right: auto;
}
 input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    width: 160px;
    height: 40px;
    border-radius: 3px;
    background: rgb(33, 37, 41);
    cursor: pointer;
    left: -70px;
    position: relative;
  }
 input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    width: 160px;
    height: 40px;
    border-radius: 3px;
    background: rgb(33, 37, 41);
    cursor: pointer;
    left: -40px;
    position: relative;
  }
input[type=range]::-moz-range-track {
    height: 250px;
    width: 10px;
    cursor: pointer;
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
    background: rgb(33, 37, 41);
    border-radius: 1.3px;
    /*border: 0.2px solid #010101*/;
  }
